---
layout: base.njk
eleventyComputed:
  title: "{{ (notices | findNotice(project)).name }} - Privacy Notice"
  permalink: "/notices/{{ project }}/index.html"
---

{% set noticeId = project %}
{% set currentLang = lang %}
{% set noticeData = notices | findNotice(noticeId) %}

<div class="notice-header">
  <h1>{{ noticeData.name }} - <span data-translate="ui.privacyNotice">{{ 'ui.privacyNotice' | t('it') }}</span></h1>
  <a href="{{ '/' | url }}" class="back-link" data-translate="ui.backToHome">{{ 'ui.backToHome' | t('it') }}</a>
</div>

<!-- Warning banner for unavailable translations -->
<div id="translation-warning" class="translation-warning" style="display: none;">
  <strong data-translate="warnings.translationUnavailable">{{ 'warnings.translationUnavailable' | t('it') }}</strong>
  <p data-translate="warnings.translationUnavailableDesc">{{ 'warnings.translationUnavailableDesc' | t('it') }}</p>
</div>

<div class="notice-content">
  <div class="notice-placeholder">
    <h2 data-translate="ui.selectLanguage">{{ 'ui.selectLanguage' | t('it') }}</h2>
    <p data-translate="ui.chooseLanguage">{{ 'ui.chooseLanguage' | t('it', {app: noticeData.name}) }}</p>

    <div class="languages-grid">
      {% for langCode in noticeData.languages %}
        {% set langName = langCode | getLanguageName %}
        <div class="language-card">
          <h3>{{ langName }}</h3>
          {% if langCode == noticeData.main_language %}
          <p data-translate="ui.mainLanguage">
          {% else %}
          <p data-translate="ui.translation">
          {% endif %}
            {% if langCode == noticeData.main_language %}
              {{ 'ui.mainLanguage' | t('it') }}
            {% else %}
              {{ 'ui.translation' | t('it') }}
            {% endif %}
          </p>
          <a href="{{ ('/notices/' + project + '/' + langCode + '/') | url }}" class="view-notice" data-translate="ui.viewIn{{ langCode | capitalize }}">
            {% if langCode == 'it' %}
              {{ 'ui.viewInItalian' | t('it') }}
            {% elif langCode == 'en' %}
              {{ 'ui.viewInEnglish' | t('it') }}
            {% elif langCode == 'fr' %}
              {{ 'ui.viewInFrench' | t('it') }}
            {% elif langCode == 'de' %}
              {{ 'ui.viewInGerman' | t('it') }}
            {% elif langCode == 'sl' %}
              {{ 'ui.viewInSlovenian' | t('it') }}
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
