---
layout: notice.njk

pagination:
  data: collections.allNotices
  size: 1
  alias: notice

permalink: false

eleventyComputed:
  title: "{{ notice.project }} - {{ notice.lang | getLanguageName }}"
  permalink: "{{ notice.url }}"
  project: "{{ notice.project }}"
  lang: "{{ notice.lang }}"
---

{{ notice.content | markdown }}
