---
layout: project.njk
pagination:
  data: collections.projects
  size: 1
  alias: project
eleventyComputed:
  title: "{{ project.name }} - {% if lang == 'it' %}Informativa Privacy{% else %}Privacy Notice{% endif %}"
  permalink: "/notices/{{ project.id }}/index.html"
---
